<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APDatePicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51A5F65D1BDA798F00BF1441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A5F6761BDA798F00BF1441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A5F6811BDA798F00BF1441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
